<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
  <header>
wa------


  </header>
   <body>
     <table border="1">
        <tr>
            <th>NO.</th>
            <th>日付ID</th>
            <th>日付名</th>
            <th>計算結果</th>
            <th>計算式(年月日)</th>
            <th>編集</th>
        </tr>
         <tr th:each="dateList: ${dateList}">

            <td th:text="${dateList.id}"/>
            <td th:text="${dateList.dateName}"></td>
            <td></td>
            <td th:text="${dateList.ymd}"></td>
            <td></td>
        </tr>
    </table>


<div>
  <div class="page-header">
    <h1>ユーザー一覧</h1>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th class="info col-sm-2">ユーザーID</th>
      <th class="info col-sm-2">ユーザー名</th>
      <th class="info col-sm-2"></th>
    </tr>
    <tr th:each="dateList:${dateLists}">
      <td th:text="${dateList.id}"></td>
      <td th:text="${dateList.datename}"></td>
      <td>
        <a class="btn btn-primary" th:href="@{'/users/' + ${user.id}}">詳細</a>
        <a class="btn btn-primary" th:href="@{'/users/' + ${user.id} + '/edit'}">編集</a>
      </td>
    </tr>
  </table>
  <label class="text-info" th:text="${result}">結果表示</label><br/>
  <a class="btn btn-primary" th:href="${'/dateLists/new'}">新規作成</a>
</div>



   </body>
</html>